################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/ebfb6da7-db1f-4fa4-a62c-dd90ecf056c8.vsidx
